#main-header {
  text-align: center;
  color: rgb(0, 0, 0);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

#last-step {
  color: darkgreen;
}

#main-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: gainsboro;
}

body {
  background-color: tan;
}

div p, div h2, div h3 {
  margin: 20px;
}